<div style="width:100%">
  <div class="container mt2 mb1">
    <div class="row mb0">
      <% for (var i = startIndex; i < maxIndex; i++) { %>
      <div class="col-xs-12 col-sm-6 clearfix">
        <article>
          <div class="article-height phalf m0 mb3 border-full border-shadow clearfix bg-white">
            <a href="<%= postsDataForIndexPage[i].pathToPost %>" class="title big mbhalf uppercase m0"><%= postsDataForIndexPage[i].title %></a>
            <p class="minimal gray mb0 montserrat"><span class="glyphicon glyphicon-time"></span> <%= postsDataForIndexPage[i].dateFormatted %></p>
            <hr>
            <p class="m0 small pbhalf pthalf"><%= postsDataForIndexPage[i].excerpt %><br>
            </p>
            <div class="pull-right">
              <a class="btn btn-sm mthalf mbhalf minimal uppercase no-underline montserrat" href="<%= postsDataForIndexPage[i].pathToPost %>">Tovább olvasom</a>
            </div>
          </div>
        </article>
      </div>
      <% } %>
    </div>

    <div class="row">
      <div class="align-center">
        <ul class="pagination small montserrat mt0 pt0">
          <% if (indexPage) { %>
          <li><a class="disabled" href="#">&laquo;</a></li>
          <% } else if (pageNumber === 2) { %>
          <li><a href="/index.html">&laquo;</a></li>
          <% } else { %>
          <li><a href="/<%= pageNumber - 1 %>.html">&laquo;</a></li>
          <% } %>

          <% for (var i = 1; i <= maxPages; i++) { %>
            <% if (i === pageNumber) { %>
              <% if (indexPage) { %>
            <li class="active"><a href="/index.html"><%= i %></a></li>
              <% } else { %>
            <li class="active"><a href="/<%= i %>.html"><%= i %></a></li>
              <% } %>
            <% } else if (i === 1) { %>
            <li><a href="/index.html"><%= i %></a></li>
            <% } else { %>
              <li><a href="/<%= i %>.html"><%= i %></a></li>  
            <% } %>
          <% } %>

          <% if (pageNumber === maxPages) { %>
          <li><a class="disabled" href="#">&raquo;</a></li>
          <% } else { %>
          <li><a href="/<%= pageNumber + 1 %>.html">&raquo;</a></li>
          <% } %>
        </ul>
      </div>
    </div>

    <div class="row mt0 mb1">
        <hr>
        <div class="align-center">
          <button id="toggle" class="btn btn-sm minimal uppercase montserrat no-underline">Az összes cikkem</button>
        </div>

    </div>
    <div id="archive" class="row">
        <% for (var i = 0; i < blogArchive.length; i++) { %>
        <div class="col-xs-12 col-sm-offset-1 col-sm-5">
        <h4 class="mt0 mbhalf dark-gray mb0"><%= blogArchive[i].year %></h4>

        <% if (blogArchive[i].months.dec) { %>
          <h5 class="mt1 mb0 bold">december</h5>
          <ul>
          <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
            <% if (blogArchive[i].articles[j].dec) { %>
            <li><a class="smallest underline" href="<%= blogArchive[i].articles[j].dec.link %>">
              <%= blogArchive[i].articles[j].dec.title %></a>
            </li>
            <% } %>
          <% } %>
          </ul>
        <% } %>

        <% if (blogArchive[i].months.nov) { %>
          <h5 class="mt1 mb0 bold">november</h5>
          <ul>
          <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
            <% if (blogArchive[i].articles[j].nov) { %>
            <li><a class="smallest underline" href="<%= blogArchive[i].articles[j].nov.link %>">
              <%= blogArchive[i].articles[j].nov.title %></a>
            </li>
            <% } %>
          <% } %>
          </ul>
        <% } %>

        <% if (blogArchive[i].months.oct) { %>
          <h5 class="mt1 mb0 bold">október</h5>
          <ul>
          <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
            <% if (blogArchive[i].articles[j].oct) { %>
            <li><a class="smallest underline" href="<%= blogArchive[i].articles[j].oct.link %>">
              <%= blogArchive[i].articles[j].oct.title %></a>
            </li>
            <% } %>
          <% } %>
          </ul>
        <% } %>
        
        <% if (blogArchive[i].months.sep) { %>
          <h5 class="mt1 mb0 bold">szeptember</h5>
          <ul>
          <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
            <% if (blogArchive[i].articles[j].sep) { %>
            <li><a class="smallest underline" href="<%= blogArchive[i].articles[j].sep.link %>">
              <%= blogArchive[i].articles[j].sep.title %></a>
            </li>
            <% } %>
          <% } %>
          </ul>
        <% } %>

        <% if (blogArchive[i].months.aug) { %>
          <h5 class="mt1 mb0 bold">augusztus</h5>
          <ul>
          <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
            <% if (blogArchive[i].articles[j].aug) { %>
            <li><a class="smallest underline" href="<%= blogArchive[i].articles[j].aug.link %>">
              <%= blogArchive[i].articles[j].aug.title %></a>
            </li>
            <% } %>
          <% } %>
          </ul>
        <% } %>

        <% if (blogArchive[i].months.jul) { %>
          <h5 class="mt1 mb0 bold">július</h5>
          <ul>
          <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
            <% if (blogArchive[i].articles[j].jul) { %>
            <li><a class="smallest underline" href="<%= blogArchive[i].articles[j].jul.link %>">
              <%= blogArchive[i].articles[j].jul.title %></a>
            </li>
            <% } %>
          <% } %>
          </ul>
        <% } %>

        <% if (blogArchive[i].months.jun) { %>
          <h5 class="mt1 mb0 bold">június</h5>
          <ul>
          <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
            <% if (blogArchive[i].articles[j].jun) { %>
            <li><a class="smallest underline" href="<%= blogArchive[i].articles[j].jun.link %>">
              <%= blogArchive[i].articles[j].jun.title %></a>
            </li>
            <% } %>
          <% } %>
          </ul>
        <% } %>

        <% if (blogArchive[i].months.may) { %>
          <h5 class="mt1 mb0 bold">május</h5>
          <ul>
          <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
            <% if (blogArchive[i].articles[j].may) { %>
            <li><a class="smallest underline" href="<%= blogArchive[i].articles[j].may.link %>">
              <%= blogArchive[i].articles[j].may.title %></a>
            </li>
            <% } %>
          <% } %>
          </ul>
        <% } %>

        <% if (blogArchive[i].months.apr) { %>
          <h5 class="mt1 mb0 bold">április</h5>
          <ul>
          <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
            <% if (blogArchive[i].articles[j].apr) { %>
            <li><a class="smallest underline" href="<%= blogArchive[i].articles[j].apr.link %>">
              <%= blogArchive[i].articles[j].apr.title %></a>
            </li>
            <% } %>
          <% } %>
          </ul>
        <% } %>

        <% if (blogArchive[i].months.mar) { %>
          <h5 class="mt1 mb0 bold">március</h5>
          <ul>
          <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
            <% if (blogArchive[i].articles[j].mar) { %>
            <li><a class="smallest underline" href="<%= blogArchive[i].articles[j].mar.link %>">
              <%= blogArchive[i].articles[j].mar.title %></a>
            </li>
            <% } %>
          <% } %>
          </ul>
        <% } %>

        <% if (blogArchive[i].months.feb) { %>
          <h5 class="mt1 mb0 bold">február</h5>
          <ul>
          <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
            <% if (blogArchive[i].articles[j].feb) { %>
            <li><a class="smallest underline" href="<%= blogArchive[i].articles[j].feb.link %>">
              <%= blogArchive[i].articles[j].feb.title %></a>
            </li>
            <% } %>
          <% } %>
          </ul>
        <% } %>

        <% if (blogArchive[i].months.jan) { %>
          <h5 class="mt1 mb0 bold">január</h5>
          <ul class="mb2">
          <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
            <% if (blogArchive[i].articles[j].jan) { %>
            <li><a class="smallest underline" href="<%= blogArchive[i].articles[j].jan.link %>">
              <%= blogArchive[i].articles[j].jan.title %></a>
            </li>
            <% } %>
          <% } %>
          </ul>
        <% } %>
        </div>
      <% } %>
      </div>
    </div>
  </div>
</div>
