<div>
  <div class="container-fluid m0 p0">
    <div class="row mx-responsive p0">
      <% for (var i = 0, j = 1; i < postsDataForIndexPage.length; i++) { %>
      <% if (i === 0) { %>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 m-p0" style="margin-left: -15px;">
        <% } else if (j === 4) { %>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 m-p0" style="margin-left: -15px;">
          <% } else { %>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 m-p0">
            <% } %>
            <article>
              <div class="card mb2">
                <span class="matrice card-subtitle light-gray sans-serif small-size"
                  style="margin-top: 4px"><%= postsDataForIndexPage[i].dateFormatted %></span>
                <a href="<%= postsDataForIndexPage[i].pathToPost %>">
                  <img src="<%= postsDataForIndexPage[i].coverImage %>"
                    class="m0 border-shadow card-img-top img-hover" alt="<%= postsDataForIndexPage[i].title %>">
                </a>
                <div class="mrquarter mlquarter">
                  <div class="card-body pl0 pr0 pbhalf pthalf">
                    <a href="<%= postsDataForIndexPage[i].pathToPost %>"
                      class="card-title h4-size sans-serif bold-700"><%= postsDataForIndexPage[i].title %></a>
                  </div>
                </div>
              </div>
            </article>
          </div>
          <% if (j % 3 == 0) { %>
          <div class="clearfix"></div>
          <% } %>
          <% j = j + 1; %>
          <% } %>
        </div>
      </div>
    </div>