<div>
  <div class="container-fluid m0 p0">
    <div class="row mx-responsive p0">
      <% for (var i = 0, j = 1; i < postsDataForIndexPage.length; i++) { %>
      <% if (i === 0) { %>
      <div class="col-xs-12 col-sm-12 col-lg-4 m-p0" style="margin-left: -15px;">
      <% } else if (j === 4) { %>
      <div class="col-xs-12 col-sm-12 col-lg-4 m-p0" style="margin-left: -15px;">
      <% } else { %>
      <div class="col-xs-12 col-sm-12 col-lg-4 m-p0">
      <% } %>
        <article>
          <div class="card mb2">
            <a href="<%= postsDataForIndexPage[i].pathToPost %>">
              <img src="/assets/images/articles/<%= postsDataForIndexPage[i].coverImage %>" class="m0 border-shadow card-img-top img-hover" alt="<%= postsDataForIndexPage[i].title %>">
            </a>
            <div class="card-body pl0 pr0 pb0 pthalf">
              <a href="<%= postsDataForIndexPage[i].pathToPost %>" class="card-title sans-serif bold-700"><%= postsDataForIndexPage[i].title %></a>
              <p class="card-subtitle medium-gray sans-serif small-size" style="margin-top: 4px"><%= postsDataForIndexPage[i].dateFormatted %></p>
            </div>
          </div>
        </article>
      </div>
      <% if (j % 3 == 0) { %>
      <div class="clearfix"></div>
      <% } %>
      <% j = j + 1; %>
      <% } %>
    </div>
  </div>
</div>
