<!DOCTYPE html>
<html lang="hu">
<%- include partials/head-post %>
<body>
  <main>
    <div class="bg-gray" style="width: 100%">
      <div class="container m0 p0">
          <div class="mt2 mb2 p1 col-sm-10 col-sm-offset-1 bg-white border-full border-shadow"> 
              <%- include partials/post-title %>
              <%- body %>
            </div>
      </div>
    </div>
  </main>
  <%- include partials/footer %>
  <%- include partials/bootstrap %>
</body>
</html>