<!DOCTYPE html>
<html lang="hu">
<%- include partials/head-post %>
<%- include partials/header %>

<body>
  <main>
    <div class="container-fluid p0 m0">
      <div class="row mx-responsive p0">
        <div id="article" class="mt3 m-mt2 mb3 col-md-12 offset-lg-1 col-lg-10 offset-xl-3 col-xl-9 p0">
          <%- include partials/post-title %>
          <%- body %>
          <%- include partials/sharer %>
          <a href="/index.html" class="mt1 btn btn-lg bold-700 small-size no-underline bg-light-green uppercase">Ugrás
            a főoldalra</a>
        </div>
      </div>
    </div>
  </main>
  <%- include partials/about %>
  <%- include partials/footer %>
  <%- include partials/scripts %>
  <%- include partials/tracking %>
</body>

</html>