<!DOCTYPE html>
<html lang="hu">
<%- include partials/head-post %>
<body>
  <main>
    <div style="width: 100%">
      <div class="container">
          <div class="col-sm-8 col-sm-offset-2 bg-white border-full-black"> 
              <%- include partials/post-title %>
              <%- body %>
            </div>
      </div>
    </div>
  </main>
  <%- include partials/footer %>
  <%- include partials/bootstrap %>
</body>
</html>