<!DOCTYPE html>
<html lang="hu">
<%- include partials/head-post %>
<body>
  <main>
    <div class="bg-gray" style="width:100%">
      <div class="container p0">
        <div class="row p1">
        <div id="article" class="mt2 mb4 p1 col-sm-8 col-sm-offset-2 bg-white border-full border-shadow"> 
        <%- include partials/post-title %>
        <%- body %>
        </div>   
      </div>
      </div>
    </div>
  </main>
  <%- include partials/footer %>
  <%- include partials/bootstrap %>
</body>
</html>