<!DOCTYPE html>
<html lang="hu">
<%- include partials/head %>
<body class="bg-gray">
  <%- include partials/header %>
  <main> 
    <%- body %>
  </main>
  <%- include partials/footer %>
  <%- include partials/bootstrap %>
  <script src="/assets/scripts/visuals.js"></script>
</body>
</html>