<!DOCTYPE html>
<html lang="hu">
  <%- include partials/head %>
<body>
  <%- include partials/header %>
  <main> 
    <%- include partials/intro %>
    <%- include partials/earth-engine-app %>
    <%- include partials/app-description %>
    <%- include partials/blog %>
    <%- body %>
  </main>
  <%- include partials/about %>
  <%- include partials/footer %>
  <%- include partials/scripts %>
  <%- include partials/tracking %>
  
  <script src="/assets/js/visuals.js"></script>
  <script src="/assets/js/identity.js"></script>
</body>
</html>