<!DOCTYPE html>
<html lang="hu">
<%- include partials/head.ejs %>
<body>
  <%- include partials/header %>
  <main>
    <%- body %>
  </main>
  <%- include partials/footer %>
  <%- include partials/bootstrap %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106020833-1"></script>
  <script src="/assets/scripts/tracker.js"></script>
</body>
</html>